.vs
Builds
Dist
CMakeSettings.json
CMakeLists.txt.user
python/.eggs
python/_skbuild
python/*.log
python/**/*.pyd
python/openvds/test/aws_defs.py
CMakeSettings.json
out
*.pyc
build/
python/tools/tmpinclude/
python/tools/generated
python/tools/.vscode
